.grid-container {
    display: grid;
    height: 510px;
    width: 510px;
    border: 1px solid royalblue;
    justify-items: center;
    padding: 5px;
    gap: 0;
}

.square {
    background-color: red;
    border: 0.001px solid white;
}

